<header class="fixed w-full top-0 left-0 z-50 transition-all duration-300" 
        [class]="isScrolled ? 'bg-white/20 dark:bg-[#101010]/20 backdrop-blur-md' : 'bg-transparent'">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a href="/">
          <!-- Logo clair (light mode) -->
          <img src="/assets/nova_logo.png"
              alt="Nova Logo"
              class="h-7 block dark:hidden">

          <!-- Logo sombre (dark mode) -->
          <img src="/assets/nova_logo_dark.png"
              alt="Nova Logo Dark"
              class="h-7 hidden dark:block">
        </a>
      </div>


      <div class="md:flex md:items-center md:gap-12">
        <!-- Navigation -->
        <nav aria-label="Global" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            <li><a class="text-[#101010] hover:text-green-500 dark:text-white" routerLink="/analysis">Analysis</a></li>
            <li><a class="text-[#101010] hover:text-green-500 dark:text-white" routerLink="/mentalHealth">Mental health</a></li>
            <li><a class="text-[#101010] hover:text-green-500 dark:text-white" routerLink="/docs">Documentation</a></li>
          </ul>
        </nav>

        <!-- ✅ Boutons -->
        <div class="flex items-center gap-4">
          <!-- Not logged in -->
          <ng-container *ngIf="!(isLoggedIn$ | async)">
            <a class="rounded-md bg-green-700 px-5 py-3 text-sm font-medium text-white hover:bg-green-800"
              routerLink="/login">
              Login
            </a>
            <a class="rounded-md px-5 py-2.5 text-sm font-medium bg-green-700/10 border-2 border-green-700 dark:text-white text-green-700 hover:bg-green-700 hover:text-white"
              routerLink="/register">
              Register
            </a>
          </ng-container>

          <!-- Logged in -->
          <ng-container *ngIf="isLoggedIn$ | async">
            <div class="relative">
              <button (click)="toggleMenu()"
                class="rounded-md bg-green-700 px-5 py-2 text-white flex items-center gap-2 text-sm font-medium hover:bg-green-800">
                Account
                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
              </button>

              <!-- Dropdown -->
              <div *ngIf="menuOpen"
                class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg text-gray-700 z-10 overflow-hidden">
                <a routerLink="/subscription" (click)="closeMenu()"
                  class="block px-4 py-2 hover:bg-green-700 hover:text-white first:rounded-t-lg">
                  Subscription
                </a>
                <a routerLink="/account" (click)="closeMenu()"
                  class="block px-4 py-2 hover:bg-green-700 hover:text-white">
                  Account
                </a>
                <button (click)="logout(); closeMenu()"
                  class="cursor-pointer block w-full text-left px-4 py-2 hover:bg-green-700 hover:text-white last:rounded-b-lg">
                  Logout
                </button>
              </div>


            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</header>