<footer class="bg-[#101010]">
  <div class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24">
    <div class="lg:flex lg:items-end lg:justify-between">
      <div>
        <img src="/assets/nova_logo.png" alt="Nova Logo" class="h-8"/>
        <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500 lg:text-left dark:text-gray-400">
          © 2025 NovaCorp. Made with ❤️ for your ❤️.
        </p>
      </div>

      <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12">
        <li>
          <a class="text-gray-700 hover:text-pink-400 dark:text-white" href="/">Home</a>
        </li>
        <li>
          <a class="text-gray-700 hover:text-pink-400 dark:text-white" href="/analysis">Analysis</a>
        </li>
        <li>
          <a class="text-gray-700 hover:text-pink-400 dark:text-white" href="/skinCheck">Skin check</a>
        </li>
        <li>
          <a class="text-gray-700 hover:text-pink-400 dark:text-white" href="/medecineSearch">Medecine search</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
