input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 30px;   /* largeur totale */
  height: 30px;
  color: #22c55e; /* ✅ Tailwind green-500 */
}

.lds-ripple div {
  position: absolute;
  border: 3px solid currentColor; /* un peu plus visible */
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.6s;
}

@keyframes lds-ripple {
  0% {
    top: 15px;
    left: 15px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}


