<section class="min-h-screen flex justify-center items-center -mt-35">
  <div class="mx-auto w-full max-w-6xl">
    <div>
      <div *ngIf="errorMessage" class="bg-red-100 text-red-700 p-3 rounded mb-4 text-center max-w-2xl mx-auto">
        {{ errorMessage }}
      </div>

      <div *ngIf="loading" class="text-center text-white mb-4 font-semibold">
        Loading...
      </div>

      <!-- Step 1: Symptoms -->
      <div *ngIf="step === 1" class="max-w-2xl mx-auto p-6">
        <h1 class="text-4xl text-center text-white font-extrabold mb-6">Enter your symptoms</h1>
        <div class="bg-white/3 rounded-xl shadow-xl p-2 mb-6">
          <div class="flex items-center gap-2 ">
            <div class="w-full">
              <div class="flex items-center gap-2">
                <div class="bg-[#101010] w-full rounded-lg">

                  <input type="text" [(ngModel)]="searchQuery" (input)="filterSymptoms()" (keydown.enter)="addSymptom()"
                    placeholder="Enter a symptom..."
                    class="w-full p-2 py-3 border-2 border-pink-500 bg-pink-500/10 text-white rounded-lg focus:outline-none focus:ring-0 focus:ring-pink-500" />
                </div>
                <div class="bg-[#101010] rounded-lg">

                  <button (click)="submitSymptoms()"
                    class="cursor-pointer px-4 py-3 rounded-lg bg-pink-500/10 border-2 border-pink-500 text-white hover:bg-pink-500 hover:text-white hover:ring-0 hover:ring-pink-500">
                    Submit
                  </button>
                </div>
              </div>
              <ul *ngIf="filteredSymptoms.length > 0"
                class="w-full bg-white border border-gray-300 rounded-md shadow-lg mt-4 z-10">
                <li *ngFor="let symptom of filteredSymptoms" (click)="addSymptom(symptom)"
                  class="p-2 cursor-pointer hover:bg-pink-100 text-black">
                  {{ formatSymptom(symptom) }}
                </li>

              </ul>
            </div>
          </div>


        </div>
        <div *ngIf="selectedSymptoms.length > 0" class="mt-4 flex flex-wrap gap-2 justify-center items-center">
          <span *ngFor="let symptom of selectedSymptoms; let i = index" class="bg-[#101010] rounded-full">
            <span class="bg-pink-500/3 border-2 border-pink-500 text-white px-3 py-1 rounded-full flex items-center">
              {{ formatSymptom(symptom) }}
              <button (click)="removeSymptom(i)" class="cursor-pointer text-pink-500 ml-2 font-bold">✖</button>
            </span>
          </span>

        </div>
      </div>

      <!-- Step 2: Patient Info -->
      <div *ngIf="step === 2" class="max-w-2xl mx-auto p-6">
        <h2 class="text-4xl text-center text-white font-extrabold mb-6">Patient Information</h2>
        <div class="bg-white/3 rounded-xl shadow-xl p-2 mb-2">
          <div class="grid grid-cols-2 gap-4">
            <div class="bg-[#101010] rounded-lg">
              <input type="number" [(ngModel)]="age" placeholder="Age"
                class="w-full p-2 py-3 border-2 border-pink-500 bg-pink-500/10 text-white rounded-lg focus:outline-none focus:ring-0 focus:ring-pink-500" />
            </div>
            <div class="bg-[#101010] rounded-lg">
              <select [(ngModel)]="sex"
                class="w-full p-2 py-3 border-2 border-pink-500 bg-pink-500/10 text-white rounded-lg focus:outline-none focus:ring-0 focus:ring-pink-500">
                <option value="" disabled hidden>Gender</option>
                <option value="male" class="bg-white p-2 cursor-pointer hover:bg-pink-100 text-black">Male</option>
                <option value="female" class="bg-white p-2 cursor-pointer hover:bg-pink-100 text-black">Female</option>
              </select>

            </div>
            <div class="bg-[#101010] rounded-lg">
              <input type="number" [(ngModel)]="weight" placeholder="Weight (kg)"
                class="w-full p-2 py-3 border-2 border-pink-500 bg-pink-500/10 text-white rounded-lg focus:outline-none focus:ring-0 focus:ring-pink-500" />
            </div>
            <div class="bg-[#101010] rounded-lg">
              <input type="number" [(ngModel)]="height" placeholder="Height (cm)"
                class="w-full p-2 py-3 border-2 border-pink-500 bg-pink-500/10 text-white rounded-lg focus:outline-none focus:ring-0 focus:ring-pink-500" />
            </div>
          </div>


        </div>
        <div class="flex justify-between">
          <div class="bg-white/3 p-2 rounded-lg">
            <button (click)="previousStep()"
              class="w-25 cursor-pointer px-4 py-2 rounded-lg bg-pink-500/10 border-2 border-pink-500 text-white hover:bg-pink-500 hover:text-white hover:ring-2 hover:ring-pink-500">
              Back
            </button>
          </div>
          <div class="bg-white/3 p-2 rounded-lg">
            <button (click)="submitPatientInfo()"
              class="w-25 cursor-pointer px-4 py-2 rounded-lg bg-pink-500/10 border-2 border-pink-500 text-white hover:bg-pink-500 hover:text-white hover:ring-2 hover:ring-pink-500">
              Continue
            </button>
          </div>
        </div>

      </div>

      <!-- Step 3: Pain Question -->
      <div *ngIf="step === 3 && painAnswer === null"
        class="w-min mx-auto p-6 text-center bg-white/1 rounded-xl shadow-xl">
        <h3 class="text-xl font-semibold mb-6 text-white whitespace-nowrap px-6">Are you experiencing physical pain?
        </h3>
        <div class="flex justify-center gap-6 mb-4">
          <button (click)="answerPainQuestion(true)"
            class="cursor-pointer px-4 py-2 w-30 rounded-lg bg-green-500/10 border-2 border-green-500 text-white hover:bg-green-500 hover:text-white hover:ring-2 hover:ring-green-500">Yes</button>
          <button (click)="answerPainQuestion(false)"
            class="cursor-pointer px-4 py-2 w-30 rounded-lg bg-red-500/10 border-2 border-red-500 text-white hover:bg-red-500 hover:text-white hover:ring-2 hover:ring-red-500">No</button>
        </div>
      </div>

      <div *ngIf="showBodySelection" class="p-6 rounded-lg shadow-md max-w-6xl mx-auto text-center">
        <h2 class="text-4xl text-center text-white font-extrabold mb-6">Select your physical pain</h2>
        <div class="bg-white/3 p-4 rounded-xl shadow-xl flex flex-col md:flex-row gap-4 items-stretch justify-center">
          <!-- Instructions + Slider -->
          <div class="w-full md:w-1/2 h-full min-h-[450px] flex flex-col space-y-5">
            <!-- Bloc Instructions -->
            <div
              class="bg-pink-500/10 border-2 border-pink-500 rounded-lg shadow-lg p-6 text-left text-white space-y-4">
              <!-- Titre -->
              <div class="flex items-center gap-3">
                <svg class="w-6 h-6 text-pink-400" fill="none" stroke="currentColor" stroke-width="2"
                  viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 8c.667-2 2.5-3.5 5-3.5S21 6 21 8c0 2-1.5 3.5-3.5 3.5S14 10 12 8zM4 16l4-4 4 4M4 20h16" />
                </svg>
                <h3 class="text-lg font-bold">Instruction</h3>
              </div>

              <div class="text-sm leading-relaxed">
                <p>To help us understand your discomfort, please indicate the areas where you feel pain using the body
                  silhouette.</p>

                <ul class="list-disc list-inside mt-3 space-y-1">
                  <li>Use the <strong>slider</strong> to choose the size of the selection circle.</li>
                  <li><strong>Click</strong> on the body to place a circle — areas underneath will be selected.</li>
                  <li><strong>Click again</strong> near an existing circle to remove it.</li>
                  <li>You can select <strong>multiple zones</strong> if needed.</li>
                  <li>Make sure you differentiate between the <strong>"Front"</strong> and the <strong>"Back"</strong>
                    to improve diagnostic accuracy.</li>
                </ul>

                <p class="text-sm text-pink-200 mt-2">
                  Selected areas will appear as semi-transparent pink circles.
                </p>

                <p class="text-sm text-pink-200 mt-2 italic">
                  Example: For shoulder pain, click near the top arm/shoulder section.
                </p>
              </div>


            </div>

            <div class="flex-grow bg-[#3b6fff]/10 border-2 border-[#3b6fff] p-6 rounded-lg text-sm text-white relative">
              <div class="flex items-center gap-3">
                <h3 class="text-lg font-bold mb-5">Circle Size</h3>
              </div>

              <!-- Slider input -->
              <div class="px-0">
                <input id="circleSizeSlider" type="range" min="1" max="3" step="1" [(ngModel)]="circleSizeIndex" class="w-full h-4 bg-[#3b6fff]/30 rounded-lg appearance-none cursor-pointer transition-all
            focus:outline-none focus:ring-1 focus:ring-[#3b6fff]
            [&::-webkit-slider-thumb]:appearance-none
            [&::-webkit-slider-thumb]:h-4
            [&::-webkit-slider-thumb]:w-4
            [&::-webkit-slider-thumb]:rounded-full
            [&::-webkit-slider-thumb]:bg-white
            [&::-webkit-slider-thumb]:border-2
            [&::-webkit-slider-thumb]:border-blue-500
            [&::-webkit-slider-thumb]:transition
            [&::-webkit-slider-thumb]:hover:scale-110
            [&::-moz-range-thumb]:bg-blue-500/0
            [&::-moz-range-thumb]:border-2
            [&::-moz-range-thumb]:border-pink-500
            [&::-moz-range-thumb]:rounded-full
            [&::-moz-range-thumb]:h-4
            [&::-moz-range-thumb]:w-4" />

                <!-- Labels bien alignés -->
                <div class="relative mt-4 h-4 w-full">
                  <span class="absolute left-0 transform -translate-x-0/2 text-xs">Small</span>
                  <span class="absolute left-1/2 transform -translate-x-1/2 text-xs">Medium</span>
                  <span class="absolute left-full transform -translate-x-2/2 text-xs">Large</span>
                </div>
              </div>
            </div>



          </div>

          <!-- Silhouettes -->
          <div
            class="w-full md:w-1/2 flex justify-center gap-8 bg-[#3b6fff]/10 pt-15 rounded-lg shadow-lg border-2 border-[#3b6fff]">
            <!-- Front -->
            <div class="flex flex-col items-center">
              <svg (click)="handleSvgClick($event, 'front')" (mousemove)="handleSvgHover($event, 'front')"
                (mouseleave)="hoverCircleFront = null" class="w-[150px] md:w-[200px] h-auto" viewBox="59 0 100 190"
                preserveAspectRatio="xMidYMid meet">
                <g id="effects-layer-front"></g>

                <!-- Corps -->
                <ng-container *ngFor="let path of svgFrontPaths">
                  <ng-container *ngIf="path.id === 'body'">
                    <path [attr.d]="path.d" [attr.id]="path.id" fill="#3b6fff" [style.pointer-events]="'none'"></path>
                  </ng-container>
                </ng-container>

                <!-- Zones interactives -->
                <ng-container *ngFor="let path of svgFrontPaths">
                  <ng-container *ngIf="path.id !== 'body'">
                    <path [attr.d]="path.d" [attr.id]="path.id" fill="transparent" [style.pointer-events]="'auto'">
                    </path>
                  </ng-container>
                </ng-container>

                <!-- Cercles de sélection -->
                <circle *ngFor="let circle of selectionCirclesFront" [attr.cx]="circle.cx" [attr.cy]="circle.cy"
                  [attr.r]="circle.r" fill="rgba(255,255,255,0.1)" stroke="#ec4899" stroke-width="1" />

                <!-- Cercle de hover -->
                <circle *ngIf="hoverCircleFront" [attr.cx]="hoverCircleFront.cx" [attr.cy]="hoverCircleFront.cy"
                  [attr.r]="hoverCircleFront.r" fill="rgba(255,255,255,0.2)" stroke="#ffffff" stroke-dasharray="2"
                  stroke-width="1" />
              </svg>
              <div class="mt-2 text-white text-sm font-semibold">Front</div>
            </div>

            <!-- Back -->
            <div class="flex flex-col items-center">
              <svg (click)="handleSvgClick($event, 'back')" (mousemove)="handleSvgHover($event, 'back')"
                (mouseleave)="hoverCircleBack = null" class="w-[150px] md:w-[200px] h-auto" viewBox="59 0 100 190"
                preserveAspectRatio="xMidYMid meet">
                <g id="effects-layer-back"></g>

                <ng-container *ngFor="let path of svgBackPaths">
                  <ng-container *ngIf="path.id === 'body'">
                    <path [attr.d]="path.d" [attr.id]="path.id" fill="#3b6fff" [style.pointer-events]="'none'"></path>
                  </ng-container>
                </ng-container>

                <ng-container *ngFor="let path of svgBackPaths">
                  <ng-container *ngIf="path.id !== 'body'">
                    <path [attr.d]="path.d" [attr.id]="path.id" fill="transparent" [style.pointer-events]="'auto'">
                    </path>
                  </ng-container>
                </ng-container>

                <circle *ngFor="let circle of selectionCirclesBack" [attr.cx]="circle.cx" [attr.cy]="circle.cy"
                  [attr.r]="circle.r" fill="rgba(255,255,255,0.1)" stroke="#ec4899" stroke-width="1" />

                <circle *ngIf="hoverCircleBack" [attr.cx]="hoverCircleBack.cx" [attr.cy]="hoverCircleBack.cy"
                  [attr.r]="hoverCircleBack.r" fill="rgba(255,255,255,0.2)" stroke="#ffffff" stroke-dasharray="2"
                  stroke-width="1" />
              </svg>
              <div class="mt-2 text-white text-sm font-semibold">Back</div>
            </div>
          </div>
        </div>

        <!-- Boutons -->
        <div class="flex justify-end">
          <div class="mt-4 bg-white/3 p-2 rounded-xl shadow-xl flex gap-2">
            <button (click)="resetBodySelection()"
              class="cursor-pointer rounded-md px-5 py-2.5 text-sm font-medium bg-pink-500/10 border-2 border-pink-500 text-white hover:bg-pink-500 hover:text-white">
              Reset
            </button>
            <button (click)="validateBodySelection()"
              class="cursor-pointer rounded-md px-5 py-2.5 text-sm font-medium bg-[#3b6fff]/10 border-2 border-[#3b6fff] text-white hover:bg-[#3b6fff] hover:text-white">
              Confirm selection
            </button>
          </div>

        </div>
      </div>

      <div *ngIf="currentClarification" class="w-min mx-auto p-6 text-center bg-white/1 rounded-xl shadow-xl">
        <div class="text-xl font-semibold mb-6 text-white whitespace-nowrap px-6">
          {{ currentClarification.question }}
        </div>
        <div class="flex justify-center gap-6">
          <button (click)="answerClarification(true)"
            class="cursor-pointer px-4 py-2 w-30 rounded-lg bg-green-500/10 border-2 border-green-500 text-white hover:bg-green-500 hover:text-white hover:ring-2 hover:ring-green-500">Yes</button>
          <button (click)="answerClarification(false)"
            class="cursor-pointer px-4 py-2 w-30 rounded-lg bg-red-500/10 border-2 border-red-500 text-white hover:bg-red-500 hover:text-white hover:ring-2 hover:ring-red-500">No</button>
        </div>
      </div>

      <div *ngIf="response && !currentClarification" class="text-center mt-10">
        <h2 class="text-4xl font-extrabold text-white">Analysis Result</h2>
        <p class="text-sm mx-auto text-white/70 mt-3 mb-8 max-w-4xl">
          This section presents the outcome of the symptom analysis, including the most likely diagnosis, its severity,
          and related clinical information. It is derived from your input and enhanced by contextual medical data to
          offer an accurate, data-driven health insight.
        </p>
        <div>

          <div class="bg-pink-500/8 rounded-xl shadow-xl p-4 max-w-6xl mx-auto text-white">

            <!-- GRID 2 COLS -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5 text-left">

              <!-- LEFT COLUMN -->
              <div class="flex flex-col gap-4">



                <!-- DISEASE INFO -->
                <div class="relative bg-[#101010] p-5 rounded-xl border-2 border-pink-500/50 shadow-md h-full">
                  <!-- Confidence bar in top-right -->
                  <div class="absolute top-5 right-5 w-45 p-2 pb-3 rounded-xl shadow ring-1 ring-white/10">
                    <div class="flex items-center justify-between mb-1">
                      <span class="text-[10px] font-semibold text-white/70 uppercase">Confidence</span>
                      <span class="text-xs font-bold" [style.color]="getGradientColor(animatedConfidence)">
                        {{ animatedConfidence }}%
                      </span>
                    </div>
                    <div class="w-full h-2 bg-gray-700 rounded-full overflow-hidden">
                      <div class="h-full rounded-full transition-all transition-colors duration-100" [ngStyle]="{
          width: animatedConfidence + '%',
          backgroundColor: getGradientColor(animatedConfidence)
        }">
                      </div>
                    </div>
                  </div>

                  <h3 class="text-2xl font-bold mb-2 text-pink-400">Diagnostic Result</h3>

                  <p class="text-lg mb-2">
                    <span class="font-semibold text-pink-300">{{ formatDiseaseLabel(response.predicted_disease)
                      }}</span>
                  </p>
                  <div class="text-sm mt-4 p-4 mb-4 rounded-xl shadow ring-1 ring-white/20 text-justify space-y-2">
                    <div class="overflow-hidden transition-[max-height] duration-500 ease-in-out"
                      [style.maxHeight]="isDescriptionExpanded ? '1000px' : '3.5rem'"
                      [style.opacity]="isDescriptionExpanded ? '1' : '1'">
                      {{ response.disease_info.description }}
                    </div>

                    <button *ngIf="response.disease_info.description?.length > textLimit"
                      (click)="isDescriptionExpanded = !isDescriptionExpanded"
                      class="text-pink-400 hover:underline text-xs font-medium mt-1">
                      {{ isDescriptionExpanded ? 'Read less' : 'Read more' }}
                    </button>
                  </div>





                  <!-- Triple Gauge Display -->
                  <div
                    class="flex justify-center gap-16 flex-wrap ring-1 ring-white/20 shadow-md backdrop-blur-sm p-4 rounded-xl">
                    <!-- Severity -->
                    <div
                      class="relative w-28 h-28 cursor-pointer rounded-full ring-1 ring-white/20 shadow-md backdrop-blur-sm transition-transform duration-100 hover:scale-105 hover:bg-white/5">
                      <svg class="size-full -rotate-225" viewBox="0 0 36 36">
                        <!-- Background circle -->
                        <circle cx="18" cy="18" r="16" fill="none" stroke-width="2" stroke="#3f3f3f"
                          stroke-dasharray="75 100" stroke-linecap="round" />

                        <!-- Animated circle -->
                        <circle cx="18" cy="18" r="16" fill="none" stroke-width="2"
                          [attr.stroke]="getSeverityColor(animatedSeverity)"
                          [attr.stroke-dasharray]="(animatedSeverity * 0.75 / 100 * 100).toFixed(2) + ' 100'"
                          stroke-linecap="round" />
                      </svg>

                      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center px-2">
                        <div class="text-base font-semibold leading-tight"
                          [style.color]="getSeverityColor(animatedSeverity)">
                          {{ response.disease_info.severity_level.replace('.', '') }}
                        </div>
                        <div class="text-xs text-white/70">Severity</div>
                      </div>
                    </div>

                    <!-- Contagious -->
                    <div
                      class="relative w-28 h-28 cursor-pointer rounded-full ring-1 ring-white/20 shadow-md backdrop-blur-sm transition-transform duration-100 hover:scale-105 hover:bg-white/5">
                      <svg class="size-full -rotate-225" viewBox="0 0 36 36">
                        <circle cx="18" cy="18" r="16" fill="none" stroke-width="2" stroke="#3f3f3f"
                          stroke-dasharray="75 100" stroke-linecap="round" />
                        <circle cx="18" cy="18" r="16" fill="none" stroke-width="2"
                          [attr.stroke]="getContagiousColor(response.disease_info.contagious)"
                          [attr.stroke-dasharray]="(animatedContagious * 0.75).toFixed(2) + ' 100'"
                          stroke-linecap="round" />

                      </svg>
                      <div class="absolute inset-0 flex flex-col items-center justify-center text-center">
                        <span class="text-base font-semibold leading-tight"
                          [style.color]="getContagiousColor(response.disease_info.contagious)">
                          {{ response.disease_info.contagious.replace('.', '') }}
                        </span>
                        <span class="text-xs text-white/70">Contagious</span>
                      </div>
                    </div>


                    <!-- Chronic / Acute -->
                    <div
                      class="relative w-28 h-28 cursor-pointer rounded-full ring-1 ring-white/20 shadow-md backdrop-blur-sm transition-transform duration-100 hover:scale-105 hover:bg-white/5">
                      <svg class="size-full -rotate-225" viewBox="0 0 36 36">
                        <circle cx="18" cy="18" r="16" fill="none" stroke-width="2" stroke="#3f3f3f"
                          stroke-dasharray="75 100" stroke-linecap="round" />
                        <circle cx="18" cy="18" r="16" fill="none" stroke-width="2"
                          [attr.stroke]="getCourseColor(response.disease_info.chronic_or_acute)"
                          [attr.stroke-dasharray]="(animatedCourse * 0.75).toFixed(2) + ' 100'"
                          stroke-linecap="round" />

                      </svg>
                      <div class="absolute inset-0 flex flex-col items-center justify-center text-center">
                        <span class="text-sm font-semibold text-white"
                          [style.color]="getCourseColor(response.disease_info.chronic_or_acute)">
                          {{ response.disease_info.chronic_or_acute.replace('.', '') }}
                        </span>
                        <span class="text-xs text-white/70">Course</span>
                      </div>
                    </div>

                  </div>
                </div>


              </div>

              <!-- RIGHT COLUMN -->
              <div class="flex flex-col gap-4">

                <div *ngIf="response.disease_info"
                  class="relative bg-[#101010] p-5 rounded-xl border-2 border-pink-500/50 shadow-md h-full">
                  <h3 class="text-2xl font-bold mb-3 text-pink-400">Disease Informations</h3>
                  <div class="overflow-x-auto rounded-xl shadow ring-1 ring-white/20 mb-4">
                    <div class="min-w-full text-sm text-left text-white table-auto rounded-xl">
                      <p class="px-4 py-3 text-justify">{{ response.disease_info.advice }}</p>
                    </div>
                  </div>
                  <div class="overflow-x-auto rounded-xl shadow ring-1 ring-white/20 px-5 py-2">
                    <table class="min-w-full text-sm text-left text-white table-auto rounded-xl">
                      <tbody class="divide-y divide-white/10">
                        <tr>
                          <th class="px-4 py-3 text-pink-300 font-semibold whitespace-nowrap">Risk Factors</th>
                          <td class="px-4 py-3">{{ response.disease_info.risk_factor }}</td>
                        </tr>
                        <tr>
                          <th class="px-4 py-3 text-pink-300 font-semibold whitespace-nowrap">Prevention</th>
                          <td class="px-4 py-3">{{ response.disease_info.prevention }}</td>
                        </tr>
                        <tr>
                          <th class="px-4 py-3 text-pink-300 font-semibold whitespace-nowrap w-1/4">Complications</th>
                          <td class="px-4 py-3">{{ response.disease_info.complications }}</td>
                        </tr>
                        <tr>
                          <th class="px-4 py-3 text-pink-300 font-semibold whitespace-nowrap w-1/4">Related Diseases
                          </th>
                          <td class="px-4 py-3">{{ response.disease_info.related_diseases }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>



                </div>
              </div>

            </div>
          </div>
        </div>
        <div>

          <div *ngIf="response?.disease_info?.demographics">
            <h2 class="text-4xl font-extrabold mt-20 text-white">Disease Demographics Overview</h2>
            <p class="text-sm mx-auto text-white/70 mt-3 max-w-4xl">
              This section illustrates the typical demographic distribution of the predicted disease, highlighting which
              age groups and genders are most commonly affected. The data is based on aggregated clinical patterns and
              helps contextualize the diagnosis within a broader population profile.
            </p>
            <div class="max-w-6xl mx-auto mt-8 text-white">

              <!-- Container unique avec les 2 graphes -->
              <div class="bg-purple-500/8 rounded-xl shadow-xl p-4">
                <div class="grid grid-cols-5 gap-5">

                  <!-- Pie Chart (2/5) -->
                  <div class="col-span-2">
                    <div
                      class="bg-[#101010] p-5 rounded-xl border-2 border-purple-500/50 shadow-md h-100 flex flex-col">
                      <h3 class="text-2xl font-bold mb-5 text-purple-400 text-left">Gender Distribution</h3>
                      <div class="flex-grow flex justify-center items-center overflow-hidden">
                        <div class="w-50 h-50">
                          <canvas id="genderChart" class="w-full h-full"></canvas>
                        </div>
                      </div>
                      <div class="overflow-x-auto rounded-xl shadow ring-1 ring-white/20 mt-4">
                        <div class="min-w-full text-sm text-left text-white table-auto rounded-xl">
                          <p class="px-4 py-3 text-justify">This pie chart represents the distribution of disease cases
                            between the sexes (men and women).</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Bar Chart (3/5) -->
                  <div class="col-span-3">
                    <div
                      class="bg-[#101010] p-5 rounded-xl border-2 border-purple-500/50 shadow-md h-100 flex flex-col">
                      <h3 class="text-2xl font-bold mb-5 text-purple-400 text-left">Age Distribution</h3>
                      <div class="flex-grow relative">
                        <canvas id="ageChart" class="absolute inset-0 w-full h-full"></canvas>
                      </div>
                      <div class="overflow-x-auto rounded-xl shadow ring-1 ring-white/20 mt-4">
                        <div class="min-w-full text-sm text-left text-white table-auto rounded-xl">
                          <p class="px-4 py-3 text-justify">This bar chart shows the frequency of cases by age group,
                            highlighting the groups most affected.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>





        <div>
          <div *ngIf="response.treatment">
            <h2 class="text-4xl font-extrabold mt-20 text-white">Treatment Plan Overview</h2>
            <p class="text-sm mx-auto text-white/70 mt-3 max-w-4xl">
              This section outlines the most commonly recommended treatments for the predicted disease, including
              general approaches and symptom-specific strategies. It provides practical details such as medications,
              dosages, duration, and alternatives to help guide patient care decisions.
            </p>
            <div class="max-w-6xl mx-auto mt-8 text-white">
              <div class="bg-blue-500/8 rounded-xl shadow-xl p-4">
                <div class="flex flex-col">
                  <div class="flex gap-5 items-stretch">

                    <!-- Tabs -->
                    <ul
                      class="md:w-1/4 flex-column space-y-2 text-sm font-medium text-white bg-[#101010] p-5 rounded-xl border-2 border-blue-500/50 shadow-md">
                      <li>
                        <button (click)="activeTab = 'general'"
                          [ngClass]="{ 'bg-blue-700 text-white': activeTab === 'general', 'bg-blue-700/50 hover:bg-blue-700/70': activeTab !== 'general' }"
                          class="cursor-pointer w-full text-left px-4 py-2 rounded-lg transition-colors">
                          General
                        </button>
                      </li>
                      <hr class="h-0.5 border-t-0 bg-white/10">
                      <li *ngFor="let symptom of getSymptomList(response.treatment.symptom_treatments)">
                        <button (click)="activeTab = symptom"
                          [ngClass]="{ 'bg-blue-700 text-white': activeTab === symptom, 'bg-blue-700/50 hover:bg-blue-700/70': activeTab !== symptom }"
                          class="cursor-pointer w-full text-left px-4 py-2 rounded-lg capitalize transition-colors">
                          {{ formatSymptom(symptom) }}
                        </button>
                      </li>
                    </ul>

                    <div class="w-full text-sm bg-[#101010] p-5 rounded-xl border-2 border-blue-500/50 shadow-md">
                      <!-- General -->
                      <div *ngIf="activeTab === 'general'">
                        <h4 class="text-2xl font-bold mb-5 text-blue-400 text-left">
                          General treatment for {{ formatDiseaseLabel(response.predicted_disease) }}
                        </h4>

                        <ng-container *ngIf="response.treatment?.disease_treatment as treatment">
                          <div class="grid grid-cols-1 md:grid-cols-2 gap-5 text-sm text-white">

                            <!-- 💊 Médicaments -->
                            <div class="w-full text-sm bg-[#101010] p-5 rounded-xl ring-1 ring-white/20 shadow-md">
                              <h5 class="text-blue-300 text-left font-semibold text-sm mb-2 uppercase tracking-wider">
                                Medications
                              </h5>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">OTC Medications</div>
                                <div class="text-right">{{ response.treatment.disease_treatment.otc_medications }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Prescription</div>
                                <div class="text-right">{{ response.treatment.disease_treatment.prescription_medications
                                  }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Alternative</div>
                                <div class="text-right">{{ response.treatment.disease_treatment.alternative }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Type</div>
                                <div class="text-right">{{ response.treatment.disease_treatment.treatment_type
                                  }}</div>
                              </div>
                            </div>

                            <!-- 📋 Posologie -->
                            <div class="w-full text-sm bg-[#101010] p-5 rounded-xl ring-1 ring-white/20 shadow-md">
                              <h5 class="text-blue-300 text-left font-semibold text-sm mb-2 uppercase tracking-wider">
                                Posology
                              </h5>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Dosage</div>
                                <div class="text-right">{{ response.treatment.disease_treatment.dosage
                                  }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Frequency</div>
                                <div class="text-right">{{ response.treatment.disease_treatment.frequency
                                  }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Duration</div>
                                <div class="text-right">{{ response.treatment.disease_treatment.recommended_duration
                                  }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Route</div>
                                <div class="text-right">{{ response.treatment.disease_treatment.administration_route
                                  }}</div>
                              </div>
                            </div>


                          </div>
                          <!-- ⚠️ Precautions -->
                          <div class="w-full text-sm bg-[#101010] p-5 rounded-xl ring-1 ring-white/20 shadow-md mt-5">
                            <h5 class="text-blue-300 text-left font-semibold text-sm mb-2 uppercase tracking-wider">
                              Precautions
                            </h5>

                            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                              <!-- Colonne 1 : Side Effects + Driving -->
                              <div class="space-y-2">
                                <div>
                                  <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                    <div class="font-semibold text-blue-400">Side Effects</div>
                                    <div class="text-right">{{ response.treatment.disease_treatment.side_effects
                                      }}</div>
                                  </div>
                                </div>
                                <div class="col-span-2 border-b border-white/10 py-2 flex justify-between items-center">
                                  <div class="font-semibold text-blue-400">Driving</div>
                                  <div class="text-right">
                                    <span [ngClass]="{
        'bg-green-500 text-white': response.treatment.disease_treatment.driving_restrictions?.toLowerCase().includes('allowed'),
        'bg-yellow-400 text-black': response.treatment.disease_treatment.driving_restrictions?.toLowerCase().includes('caution'),
        'bg-red-500 text-white': response.treatment.disease_treatment.driving_restrictions?.toLowerCase().includes('avoid')
      }" class="px-3 py-0.5 rounded-full font-medium">
                                      {{
                                      response.treatment.disease_treatment.driving_restrictions?.toLowerCase().includes('allowed')
                                      ? 'Allowed'
                                      :
                                      response.treatment.disease_treatment.driving_restrictions?.toLowerCase().includes('caution')
                                      ? 'Caution'
                                      :
                                      response.treatment.disease_treatment.driving_restrictions?.toLowerCase().includes('avoid')
                                      ? 'Avoid'
                                      : 'Unknown'
                                      }}
                                    </span>
                                  </div>
                                </div>

                              </div>

                              <!-- Colonne 2 : Notes -->
                              <div class="space-y-2">
                                <div>
                                  <span class="text-blue-400 font-medium">Notes:</span>
                                  <p class="text-white/90 italic mt-1">{{ treatment.notes }}</p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </ng-container>


                      </div>

                      <!-- Symptom-specific -->
                      <div *ngFor="let symptom of getSymptomList(response.treatment.symptom_treatments)">
                        <div *ngIf="activeTab === symptom">
                          <h4 class="text-2xl font-bold mb-5 text-blue-400 text-left">
                            Treatment for {{ formatSymptom(symptom) }}
                          </h4>

                          <div class="grid grid-cols-1 md:grid-cols-2 gap-20 px-6 mb-3 text-sm text-white">
                            <!-- Colonne 1 -->
                            <div class="grid grid-cols-2 gap-x-4">
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">OTC Medications</div>
                                <div class="text-right">{{
                                  response.treatment.symptom_treatments[symptom].otc_medications }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Prescription</div>
                                <div class="text-right">{{
                                  response.treatment.symptom_treatments[symptom].prescription_medications }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Duration</div>
                                <div class="text-right">{{
                                  response.treatment.symptom_treatments[symptom].recommended_duration }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Dosage</div>
                                <div class="text-right">{{ response.treatment.symptom_treatments[symptom].dosage }}
                                </div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Frequency</div>
                                <div class="text-right">{{ response.treatment.symptom_treatments[symptom].frequency }}
                                </div>
                              </div>
                            </div>

                            <!-- Colonne 2 -->
                            <div class="grid grid-cols-2 gap-x-4">
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Route</div>
                                <div class="text-right">{{
                                  response.treatment.symptom_treatments[symptom].administration_route }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Side Effects</div>
                                <div class="text-right">{{ response.treatment.symptom_treatments[symptom].side_effects
                                  }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Alternative</div>
                                <div class="text-right">{{ response.treatment.symptom_treatments[symptom].alternative }}
                                </div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Type</div>
                                <div class="text-right">{{ response.treatment.symptom_treatments[symptom].treatment_type
                                  }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Driving</div>
                                <div class="text-right">{{
                                  response.treatment.symptom_treatments[symptom].driving_restrictions }}</div>
                              </div>
                              <div class="col-span-2 border-b border-white/10 py-2 flex justify-between">
                                <div class="font-semibold text-blue-400">Notes</div>
                                <div class="text-right">{{ response.treatment.symptom_treatments[symptom].notes }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <div class="mt-4 bg-white/3 p-2 rounded-xl shadow-xl flex gap-2">
            <button (click)="resetForm()"
              class="cursor-pointer rounded-md px-5 py-2.5 text-sm font-medium bg-pink-500/10 border-2 border-pink-500 text-white hover:bg-pink-500 hover:text-white">
              Analyze other symptoms
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>