<div class="h-screen overflow-y-scroll snap-y snap-mandatory scroll-smooth">
    <section id="hero-fade"
        class="fade-scroll relative w-full min-h-screen flex items-center justify-center px-6 sm:px-10 lg:px-20 overflow-hidden h-screen snap-start"
        data-aos="fade-up">

        <div
            class="absolute inset-0 bg-[url('/assets/grid.png')] bg-no-repeat bg-center bg-[length:400%_15%] translate-y-80 -z-20 select-none pointer-events-none">
        </div>
        
        <div
            class="absolute inset-0 bg-[url('/assets/nova_logo.png')] bg-no-repeat bg-center bg-[length:1600px] opacity-0.5 -z-20 select-none pointer-events-none">
        </div>


        <canvas id="splineCanvas_aura" class="absolute inset-0 w-full h-full -z-10 scale-80 -translate-y-20"
            data-aos="zoom-in">
        </canvas>

        <div
            class="absolute top-1/3 left-1/2 w-[300px] h-[300px] -translate-x-1/2 -z-30 rounded-full bg-pink-500/20 blur-3xl opacity-20 animate-pulse">
        </div>

        <div
            class="relative z-20 max-w-7xl w-full mx-auto grid grid-cols-1 lg:grid-cols-2 items-center -translate-y-10 pointer-events-none">

            <div class="max-w-lg mx-auto lg:mx-0 text-center lg:text-left" data-aos="fade-right">
                <span class="inline-block w-24 h-0.5 bg-white mb-4"></span>

                <h1
                    class="font-bebas-neue text-4xl sm:text-5xl lg:text-6xl font-black uppercase text-white leading-tight mb-6">
                    Understanding your health<br />
                    <span class="text-pink-500">means protecting your life.</span>
                </h1>

                <div class="rounded-xl mb-6 max-w-md">
                    <p
                        class="border border-pink-500/30 bg-white/5 backdrop-blur-md p-6 shadow-md rounded-lg p-4 text-white text-sm sm:text-base max-w-md text-justify">
                        “A smart assistant that analyzes your symptoms, informs you about possible illnesses and helps
                        you
                        better understand your health.” 💙
                    </p>
                </div>

                <div class="flex flex-wrap justify-center lg:justify-start gap-4" data-aos="zoom-in-up">
                    <!-- Box autour du bouton 1 -->
                    <div class="bg-white/3 rounded-xl p-1.5">
                        <a href="/analysis"
                            class="pointer-events-auto uppercase py-2 px-6 rounded-lg bg-pink-500 text-white font-semibold hover:bg-pink-400 transition block">
                            Get started
                        </a>
                    </div>

                    <!-- Box autour du bouton 2 -->
                    <div class="bg-white/3 rounded-xl p-1.5">
                        <a (click)="scrollTo('read_more')"
                            class="pointer-events-auto uppercase bg-pink-500/10 py-2 px-6 rounded-lg border border-pink-500 text-white hover:bg-pink-500 hover:text-white transition animate-pulse block">
                            Read more
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex justify-center lg:justify-end" data-aos="fade-left">
                <img src="assets/nova_axolotl.png" alt="Nova mascot"
                    class="w-[220px] sm:w-[300px] md:w-[350px] lg:w-[400px] xl:w-[460px] max-w-full drop-shadow-xl translate-y-40" />
            </div>
        </div>

        <div
            class="absolute bottom-4 left-1/2 -translate-x-1/2 text-white text-sm animate-bounce opacity-50 pointer-events-none">
            ↓ Scroll down
        </div>
    </section>

    <section id="hero-fade"
        class="fade-scroll relative w-full min-h-screen flex items-center justify-center px-6 sm:px-10 lg:px-20 overflow-hidden h-screen snap-start">
        <canvas id="splineCanvas_line" class="absolute inset-0 w-full h-full -z-10 translate-y-35 blur-sm opacity-50" data-aos="flip-up" data-aos-delay="500">
        </canvas>
        <div class="w-full">
            <div class="container m-auto p-4 space-y-2 text-center">
                <h2 class="text-lg text-white font-extrabold mx-auto md:text-5xl lg:text-4xl">
                    Discover Our Different Tools
                </h2>
                <hr class="w-150 mx-auto mt-6 h-0.5 border-t-0 bg-pink-500/90" />
                <p class="mt-2 line-clamp-4 text-gray-200 mb-10 mt-6">
                    Explore the full potential of Nova thanks to its innovative tools, designed to help you take better
                    care of yourself.
                </p>
            </div>

            <div class="container mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 pb-16">

                <div data-aos="fade-up" data-aos-delay="50">
                    <a href="/analysis">
                    <article
                        class="w-full h-full rounded-xl border border-pink-500/30 bg-white/2 backdrop-blur-xl px-6 shadow-md py-18 cursor-pointer transition-all duration-300 ease-in-out hover:bg-pink-500/10 hover:scale-105 group">

                        <div class="flex justify-center mb-5">
                            <div
                                class="flex items-center justify-center w-14 h-14 rounded-md bg-pink-500/10 border-2 border-pink-500/30 shadow-inner transition duration-300 ease-in-out group-hover:scale-110">
                                <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
                                    class="w-13 h-13 p-2 text-pink-500">
                                    <path fill="currentColor"
                                        d="M44.5,22.1l-4.7-1.4a3.7,3.7,0,0,1-2.5-2.2,3.5,3.5,0,0,1,.2-3.3l2.4-4.4a2.1,2.1,0,0,0-.3-2.4,2.1,2.1,0,0,0-2.4-.3l-4.4,2.4a3.5,3.5,0,0,1-3.3.2,3.7,3.7,0,0,1-2.2-2.5L25.9,3.4a2,2,0,0,0-3.8,0L20.7,8.2a3.7,3.7,0,0,1-2.2,2.5,3.5,3.5,0,0,1-3.3-.2L10.8,8.1a2.1,2.1,0,0,0-2.4.3,2.1,2.1,0,0,0-.3,2.4l2.4,4.4a3.5,3.5,0,0,1,.2,3.3,3.7,3.7,0,0,1-2.5,2.2L3.5,22.1a2,2,0,0,0,0,3.8l4.7,1.4a3.7,3.7,0,0,1,2.5,2.2,3.5,3.5,0,0,1-.2,3.3L8.1,37.2a2.1,2.1,0,0,0,.3,2.4,2.1,2.1,0,0,0,2.4.3l4.4-2.4a3.5,3.5,0,0,1,3.3-.2,3.5,3.5,0,0,1,2.2,2.5l1.4,4.8a2,2,0,0,0,3.8,0l1.4-4.8a3.8,3.8,0,0,1,5.5-2.3l4.4,2.4a2,2,0,0,0,2.7-2.7l-2.4-4.4a3.5,3.5,0,0,1-.2-3.3,3.7,3.7,0,0,1,2.5-2.2l4.7-1.4a2,2,0,0,0,0-3.8ZM21,25a4,4,0,1,1,4-4A4,4,0,0,1,21,25Zm8,6a2,2,0,1,1,2-2A2,2,0,0,1,29,31Z" />
                                </svg>
                            </div>
                        </div>

                        <h3 class="text-xl font-bold text-white text-center mb-5">Symptom Analysis</h3>
                        <p class="text-md text-gray-300 group-hover:text-gray-100 text-center">
                            Describe your symptoms and let the intelligent algorithm identify potential illnesses with
                            tailored advice.
                        </p>
                    </article>
                </a>
                </div>

                <div data-aos="fade-up" data-aos-delay="50">
                    <a href="/skinCheck">
                    <article
                        class="w-full h-full rounded-xl border border-pink-500/30 bg-white/2 backdrop-blur-xl px-6 shadow-md py-18 cursor-pointer transition-all duration-300 ease-in-out hover:bg-pink-500/10 hover:scale-105 group">
                        <div class="flex justify-center mb-5">

                            <div
                                class="w-14 h-14 rounded-md bg-pink-500/10 border-2 border-pink-500/30 shadow-inner flex items-center justify-center transition duration-300 ease-in-out group-hover:scale-110">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    class="w-10 h-10 text-pink-500 fill-current">
                                    <path d="M11 11V8H13V11H16V13H13V16H11V13H8V11H11Z" />
                                    <path
                                        d="M3 12C3 16.9706 7.02944 21 12 21H18C19.6569 21 21 19.6569 21 18V12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12ZM12 5C15.866 5 19 8.13401 19 12C19 15.866 15.866 19 12 19C8.13401 19 5 15.866 5 12C5 8.13401 8.13401 5 12 5Z" />
                                </svg>
                            </div>
                        </div>

                        <h3 class="text-xl font-bold text-white text-center mb-5">Skin Condition</h3>
                        <p
                            class="text-md text-gray-300 group-hover:text-gray-100 text-center transition-colors duration-300">
                            Use your camera to analyze a skin area and get a preliminary assessment before consulting a
                            professional.
                        </p>
                    </article>
                    </a>
                </div>

                <div data-aos="fade-up" data-aos-delay="50">
                    <a [routerLink]="isAuthenticated ? '/account' : '/login'">
                    <article
                        class="w-full h-full rounded-xl border border-pink-500/30 bg-white/2 backdrop-blur-xl px-6 shadow-md py-18 cursor-pointer transition-all duration-300 ease-in-out hover:bg-pink-500/10 hover:scale-105 group">

                        <div class="flex justify-center mb-5">
                            <div
                                class="flex items-center justify-center w-14 h-14 rounded-md bg-pink-500/10 border-2 border-pink-500/30 shadow-inner transition duration-300 ease-in-out group-hover:scale-110">
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                    class="w-10 h-10 text-pink-500 fill-current">
                                    <path
                                        d="M6.75 6.5C6.75 3.6005 9.1005 1.25 12 1.25C14.8995 1.25 17.25 3.6005 17.25 6.5C17.25 9.3995 14.8995 11.75 12 11.75C9.1005 11.75 6.75 9.3995 6.75 6.5Z" />
                                    <path
                                        d="M4.25 18.5714C4.25 15.6325 6.63249 13.25 9.57143 13.25H14.4286C17.3675 13.25 19.75 15.6325 19.75 18.5714C19.75 20.8792 17.8792 22.75 15.5714 22.75H8.42857C6.12081 22.75 4.25 20.8792 4.25 18.5714Z" />
                                </svg>
                            </div>
                        </div>

                        <h3 class="text-xl font-bold text-white text-center mb-5">Personalized Profile</h3>
                        <p
                            class="text-md text-gray-300 group-hover:text-gray-100 text-center transition-colors duration-300">
                            Track your history, receive tailored advice, and access features specific to your health
                            goals.
                        </p>
                    </article>
                    </a>
                </div>


            </div>
        </div>
    </section>

    <section id="hero-fade"
        class="fade-scroll relative w-full min-h-screen flex items-center justify-center px-6 sm:px-10 lg:px-20 overflow-hidden h-screen snap-start">
        <canvas id="splineCanvas_auras" class="absolute blur-sm w-full h-full opacity-30 -z-10 scale-80 translate-y-20"
            data-aos="zoom-in">
        </canvas>
        <div class="px-4 mx-auto max-w-7xl">
            <div class="max-w-2xl mx-auto text-center">
                <h2 class="text-4xl text-white font-extrabold mx-auto md:text-6xl lg:text-5xl">How does it work?</h2>
                <hr class="w-70 mx-auto mt-6 h-0.5 border-t-0 bg-pink-500/90" />
                <p class="line-clamp-4 text-gray-200 mt-6">
                    Our AI solution will help you from start to finish
                </p>
            </div>
            <div class="relative rounded-lg mt-10 bg-pink-500/10 border-3 border-pink-500 pt-16 pb-10 px-10">
                <div class="absolute inset-x-0 hidden xl:px-50 top-2 md:block md:px-20 lg:px-28 mt-21">
                    <div class="border-t-7 border-dashed border-pink-500 w-full"></div>
                </div>
                <div class="relative grid grid-cols-1 text-center gap-y-12 md:grid-cols-3 gap-x-12">
                    <div class="px-5">
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-[#101010] border-5 border-pink-500 rounded-full shadow">
                            <span class="text-2xl font-semibold text-white">1</span>
                        </div>
                        <div class="flex justify-center mt-10 text-3xl">
                            💻
                        </div>
                        <h3 class="mt-2 text-xl text-white font-semibold leading-tight md:mt-5">Enter Symptoms</h3>
                        <p class="mt-4 text-base text-gray-100">
                            The user inputs their symptoms into a simple and user-friendly interface
                        </p>
                    </div>
                    <div class="px-5">
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-[#101010] border-5 border-pink-500 rounded-full shadow">
                            <span class="text-2xl font-semibold text-white">2</span>
                        </div>
                        <div class="flex justify-center mt-10 text-3xl">
                            🧠
                        </div>
                        <h3 class="mt-2 text-xl text-white font-semibold leading-tight md:mt-5">Intelligent Analysis
                        </h3>
                        <p class="mt-4 text-base text-gray-100">
                            The algorithm processes the data and identifies potential illnesses based on a medical
                            knowledge
                            base
                        </p>
                    </div>
                    <div class="px-5">
                        <div
                            class="flex items-center justify-center w-16 h-16 mx-auto bg-[#101010] border-5 border-pink-500 rounded-full shadow">
                            <span class="text-2xl font-semibold text-white">3</span>
                        </div>
                        <div class="flex justify-center mt-10 text-3xl">
                            💙
                        </div>
                        <h3 class="mt-2 text-xl text-white font-semibold leading-tight md:mt-5">Results &
                            Recommendations
                        </h3>
                        <p class="mt-4 text-base text-gray-100">
                            The tool displays possible conditions with advice and guidance on whether to seek medical
                            consultation
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="hero-fade"
        class="fade-scroll relative w-full min-h-screen flex items-center justify-center px-6 sm:px-10 lg:px-20 overflow-hidden h-screen snap-start">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="max-w-xl mx-auto text-center xl:max-w-2xl">
                <h2 class="text-4xl text-white font-extrabold mx-auto md:text-6xl lg:text-5xl">What makes Nova unique
                    and
                    reassuring?</h2>
                <hr class="mt-9 h-0.5 border-t-0 bg-pink-500/90" />
                <p class="line-clamp-4 text-gray-200 mt-5">Une technologie intelligente, sécurisée et accessible, conçue
                    pour vous accompagner en toute confiance.</p>

            </div>
            <div
                class="grid max-w-8xl lg:max-w-8xl grid-cols-1 mx-auto mt-4 text-center gap-y-10 sm:gap-x-10 sm:grid-cols-2 lg:grid-cols-3 sm:mt-12 lg:mt-10 sm:text-left">
                <div class="relative">
                    <div
                        class="relative border-3 border-pink-500 overflow-hidden bg-pink-500/10 shadow-md rounded-xl h-full">
                        <div class="p-9">
                            <h1 class="text-4xl">🔒</h1>
                            <h3 class="mt-6 text-2xl font-bold text-white sm:mt-10">Confidentiality and Security</h3>
                            <p class="mt-6 text-base text-gray-100">Data is protected and anonymized to guarantee user
                                confidentiality.</p>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <div
                        class="relative border-3 border-pink-500 overflow-hidden bg-pink-500/10 shadow-md rounded-xl h-full">
                        <div class="p-9">
                            <h1 class="text-4xl">✅</h1>
                            <h3 class="mt-6 text-2xl font-bold text-white sm:mt-10">Reliability of Analyzes</h3>
                            <p class="mt-6 text-base text-gray-100">The tool is based on a validated medical database
                                and an
                                efficient algorithm.</p>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <div
                        class="relative border-3 border-pink-500 overflow-hidden bg-pink-500/10 shadow-md rounded-xl h-full">
                        <div class="p-9">
                            <h1 class="text-4xl">🎯</h1>
                            <h3 class="mt-6 text-2xl font-bold text-white sm:mt-10">Ease of Use</h3>
                            <p class="mt-6 text-base text-gray-100">Intuitive interface allowing rapid analysis and
                                accessible to all.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <div
                        class="relative border-3 border-pink-500 overflow-hidden bg-pink-500/10 shadow-md rounded-xl h-full">
                        <div class="p-9">
                            <h1 class="text-4xl">⚕️</h1>
                            <h3 class="mt-6 text-2xl font-bold text-white sm:mt-10">Absence of Medical Diagnosis</h3>
                            <p class="mt-6 text-base text-gray-100">The tool informs and guides, but is not intended to
                                replace a health professional.</p>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <div
                        class="relative border-3 border-pink-500 overflow-hidden bg-pink-500/10 shadow-md rounded-xl h-full">
                        <div class="p-9">
                            <h1 class="text-4xl">📊</h1>
                            <h3 class="mt-6 text-2xl font-bold text-white sm:mt-10">Personalized Monitoring</h3>
                            <p class="mt-6 text-base text-gray-100">History of analyzes and recommendations adapted to
                                each
                                user.</p>
                        </div>
                    </div>
                </div>
                <div class="relative">
                    <div
                        class="relative border-3 border-pink-500 overflow-hidden bg-pink-500/10 shadow-md rounded-xl h-full">
                        <div class="p-9">
                            <h1 class="text-4xl">🌍</h1>
                            <h3 class="mt-6 text-2xl font-bold text-white sm:mt-10">Multiplatform Accessibility</h3>
                            <p class="mt-6 text-base text-gray-100">Available on web and mobile for easy access at any
                                time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="hero-fade"
        class="fade-scroll relative w-full min-h-screen flex items-center justify-center px-6 sm:px-10 lg:px-20 overflow-hidden h-screen snap-start">
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="max-w-xl mx-auto text-center xl:max-w-2xl">
                <h2 class="text-4xl text-white font-extrabold mx-auto md:text-6xl lg:text-5xl">Any question?</h2>
                <hr class="w-70 mx-auto mt-6 h-0.5 border-t-0 bg-pink-500/90" />
                <p class="line-clamp-4 text-gray-200 mt-5">Do you have any questions? We have the answers!</p>
            </div>
        </div>
        <div
            class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 divide-y divide-pink-500 bg-pink-500/10 rounded-xl border-3 border-pink-500 mt-12">
            <details class="group p-6 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900 dark:text-white">
                    <h2 class="text-lg font-medium">Lorem ipsum dolor sit amet consectetur adipisicing?</h2>

                    <span class="relative size-5 shrink-0">
                        <svg class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 9-7 7-7-7" />
                        </svg>
                        <svg class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m5 15 7-7 7 7" />
                        </svg>
                    </span>
                </summary>

                <p class="mt-4 leading-relaxed text-gray-700 dark:text-gray-200">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic veritatis molestias culpa in,
                    recusandae laboriosam neque aliquid libero nesciunt voluptate dicta quo officiis explicabo
                    consequuntur distinctio corporis earum similique!
                </p>
            </details>

            <details class="group p-6 [&_summary::-webkit-details-marker]:hidden">
                <summary class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900 dark:text-white">
                    <h2 class="text-lg font-medium">Lorem ipsum dolor sit amet consectetur adipisicing?</h2>

                    <span class="relative size-5 shrink-0">
                        <svg class="absolute inset-0 size-5 opacity-100 group-open:opacity-0" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 9-7 7-7-7" />
                        </svg>
                        <svg class="absolute inset-0 size-5 opacity-0 group-open:opacity-100" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m5 15 7-7 7 7" />
                        </svg>
                    </span>
                </summary>

                <p class="mt-4 leading-relaxed text-gray-700 dark:text-gray-200">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab hic veritatis molestias culpa in,
                    recusandae laboriosam neque aliquid libero nesciunt voluptate dicta quo officiis explicabo
                    consequuntur distinctio corporis earum similique!
                </p>
            </details>
        </div>

    </section>

</div>

<!-- Loading overlay -->
<div id="page-loader"
     class="fixed inset-0 z-50 bg-[#101010] flex items-center justify-center transition-opacity duration-500">
  <div class="text-white text-xl flex flex-col items-center">
    <div class="spinner"></div>
    <img src="/assets/nova_logo.png" alt="Nova Logo" class="h-7 mt-5">
  </div>
</div>
